@font-face {
    font-family: 'FiraSans-Regular';
    src: url('../fonts/FiraSans-Regular.woff') format('woff'),
    url('../fonts/FiraSans-Regular.ttf') format('truetype'),
    url('../fonts/FiraSans-Regular.svg#FiraSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0 !important;
    -webkit-appearance:none;
}

body {
    font-family: 'FiraSans-Regular', sans-serif;
    font-size: 14px;
    line-height: 14px;
    background: rgba(30, 30, 30, 0.45);
}

div, input, textarea {
    box-sizing: border-box;
}

.app {
    display: flex;
    width: 650px;
    height: 650px;
    padding: 3px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 5px;
    background: rgba(21, 7, 41, 1);
}

.list-users {
    padding: 20px 10px;
    width: 200px;
    height: 100%;
    border-radius: 5px;
    background: #453052;

    -webkit-box-shadow: inset 0px 0px 45px -13px rgba(0,0,0,0.97);
    -moz-box-shadow: inset 0px 0px 45px -13px rgba(0,0,0,0.97);
    box-shadow: inset 0px 0px 45px -13px rgba(0,0,0,0.97);
}

.user {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.user:after {
    display: block;
    position: absolute;
    bottom: -10px;
    left: 10%;
    content: '';
    width: 80%;
    height: 1px;
    background: rgba(165, 155, 164, 0.86);
}

.user-photo {
    width: 45px;
    height: 45px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    margin-right: 15px;
}

.user-photo img {
    width: 100%;
}

svg {
    width: 11px;
}

.user-info__name {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1px;
    color: #efefef;
}

.user-status {
    position: absolute;
    bottom: 0;
    left: 35px;
    width: 14px;
    height: 14px;
    background: #fff;
    border: 2px solid rgb(69, 48, 82);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.search-user {
    width: 100%;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: none;
    margin-bottom: 20px;
    padding: 0 8px;
}

.chat-block {
    width: 100%;
    margin-left: 3px;
}
.messages {
    height: 80%;
    padding: 10px 25px 25px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 3px;

    -webkit-box-shadow: inset 0px 0px 45px -13px rgba(0,0,0,0.97);
    -moz-box-shadow: inset 0px 0px 45px -13px rgba(0,0,0,0.97);
    box-shadow: inset 0px 0px 45px -13px rgba(0,0,0,0.97);
}

.user-message {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.user-message .user-photo {
    flex-shrink: 0;
    margin-right: 10px;
}
.my-message .user-message__text {
    width: 92.4%;
    background: #e9fcff;
}
.user-message__text {
    background: #f7f7f7;
    padding: 10px 10px;
    width: 80%;
    border-radius: 5px;
    flex-shrink: 0;
}
.user-message p {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}
.user-message__time {
    font-size: 12px;
    padding: 0 12px;
}


.message {
    width: 100%;
    height: 126px;
    resize: none;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
}

.message-form {
    position: relative;
}

.send {
    position: absolute;
    bottom: 5px;
    right: 2px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-width: 120px;
    height: 26px;
    float: right;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #a53636;
}

.notification {
    position: absolute;
    display: flex;
    top: -5px;
    width: 18px;
    height: 18px;
    font-size: 12px;
    line-height: 12px;
    border-radius: 50%;
    background: rgb(165, 54, 54);
    color: #fff;
    justify-content: center;
    align-items: center;
}